html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
}
body {
    line-height:1
}
ol, ul {
    list-style:none
}
blockquote, q {
    quotes:none
}
blockquote:before, blockquote:after {
    content:'';
    content:none
}
q:before, q:after {
    content:'';
    content:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
a:hover {
    text-decoration:none
}
* {
    box-sizing:border-box
}
html {
    height:100%;
    width:100%
}
body {
    font-family:'roboto';
    width:100%
}
img {
    width:100%
}
a:hover {
    text-decoration:none !important
}
.container {
    padding:0 !important
}
@media (min-width: 1200px) {
    .container {
        width:1140px
    }
}
@media (max-width: 992px) {
    .container {
        width:100%;
        padding:0
    }
}
.pages .container {
    border-left:1px solid #E5E5E5;
    border-right:1px solid #E5E5E5
}
header {
    background:#fff;
    position:relative;
    overflow:hidden;
    border-bottom:13px solid #BF1435
}
header .top {
    text-align:right;
    position:relative;
    z-index:5
}
header .top h1 {
    margin:21px 0px 28px;
    text-align:left
}
header .top h1 a {
    height:100%
}
header .top h1 a img {
    height:auto;
    width:100%
}
header .top form {
    border-left:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
    display:inline-block;
    margin-right:38px;
    padding:31px 0px;
    text-align:center;
    width:21%
}
header .top form fieldset {
    display:inline-block;
    margin-right:13px;
    vertical-align:middle
}
header .top form fieldset input {
    border:none;
    border-bottom:1px solid #000;
    display:inline-block;
    height:16px;
    outline:0px;
    width:133px
}
header .top form .submit-mobile, header .top form .submit-desktop {
    border-radius:50%;
    border:2px solid #000;
    background-clip:padding-box;
    -webkit-background-clip:padding-box;
    display:inline-block;
    height:42px;
    position:relative;
    vertical-align:middle;
    transition:background 250ms;
    width:42px
}
header .top form .submit-mobile input, header .top form .submit-desktop input {
    border-radius:50%;
    border:none;
    cursor:pointer;
    display:block;
    height:42px;
    opacity:0;
    position:relative;
    width:42px;
    z-index:2
}
header .top form .submit-mobile:after, header .top form .submit-desktop:after {
    content:"\f002";
    font-size:15px;
    font:normal normal normal 14px/1 FontAwesome;
    left:50%;
    margin:-7px 0px 0px -7px;
    position:absolute;
    text-align:center;
    top:50%;
    transition:color 250ms;
    z-index:1
}
header .top form .submit-mobile:hover, header .top form .submit-desktop:hover {
    background:#000
}
header .top form .submit-mobile:hover:after, header .top form .submit-desktop:hover:after {
    color:#fff
}
header .top form .submit-mobile {
    display:none
}
header .top .socials {
    display:inline-block
}
header .top .socials p {
    display:inline-block;
    margin-right:13px
}
header .top .socials a.tw {
    border-radius:50%;
    background-clip:padding-box;
    -webkit-background-clip:padding-box;
    border:2px solid #000;
    display:inline-block;
    height:42px;
    text-align:center;
    line-height:42px;
    transition:background 250ms, color 250ms;
    width:42px
}
header .top .socials a.tw span {
    color:#000;
    font-size:15px
}
header .top .socials a.tw:hover {
    border:1px solid #59adec;
    background:#59adec
}
header .top .socials a.tw:hover span {
    color:#fff
}
header .top .socials a.fb {
    border-radius:50%;
    background-clip:padding-box;
    -webkit-background-clip:padding-box;
    border:2px solid #000;
    display:inline-block;
    height:42px;
    text-align:center;
    line-height:42px;
    transition:background 250ms, color 250ms;
    width:42px
}
header .top .socials a.fb span {
    color:#000;
    font-size:15px
}
header .top .socials a.fb:hover {
    border:1px solid #59adec;
    background:#59adec
}
header .top .socials a.fb:hover span {
    color:#fff
}
header:after {
    background:url("../img/html/header-after.png");
    content:'';
    height:141px;
    left:0px;
    position:absolute;
    top:0px;
    width:135px;
    z-index:2
}
header:before {
    background:url("../img/html/header-before.png");
    content:'';
    height:157px;
    position:absolute;
    right:0px;
    top:0px;
    width:204px;
    z-index:2
}
.wrap__mobile {
    background:#BF1435;
    height:1%;
    display:none;
    overflow:hidden
}
.wrap__mobile a {
    display:block;
    height:45px;
    text-align:center;
    line-height:45px;
    font-size:18px;
    float:right;
    width:45px;
    color:#fff
}
@media (max-width: 992px) {
    .wrap__mobile {
        display:block
    }
    header {
        border-bottom:none
    }
}
@media (max-width: 992px) {
    .aside {
        position:fixed;
        top:0px;
        height:100%;
        width:80%;
        left:-100%;
        z-index:999;
        background:#fff;
        transition:all 250ms;
        overflow-y:scroll
    }
}
.aside::-webkit-scrollbar {
    display:none
}
.aside.enabled {
    left:0px
}
.aside .wrap__aside-fix {
    padding-bottom:30px
}
.aside .wrap__aside-fix .aside__brand {
    text-align:center;
    padding:32px 10px;
    width:100%
}
.aside .wrap__aside-fix .aside__brand img {
    max-width:98px;
    display:inline-block
}
.aside .wrap__aside-fix .aside__postula a {
    background:#BF1435;
    display:block;
    line-height:65px;
    text-align:center;
    color:#fff;
    transition:all 250ms;
    text-transform:uppercase;
    width:100%
}
.aside .wrap__aside-fix .aside__postula a:hover {
    background:#a10017
}
.aside .wrap__aside-fix .aside__login a {
    background:#EFEFEF;
    display:block;
    line-height:65px;
    text-align:center;
    color:#BF1435;
    transition:all 250ms;
    text-transform:uppercase;
    width:100%
}
.aside .wrap__aside-fix .aside__login a:hover {
    background:#d1d1d1
}
.aside .wrap__aside-fix .menu-principal-container ul li {
    border-bottom:1px solid #E5E5E5;
    position:relative
}
.aside .wrap__aside-fix .menu-principal-container ul li a {
    color:#656565;
    display:block;
    font-size:12px;
    padding:15px 0px;
    position:relative;
    text-align:center;
    text-transform:uppercase;
    transition:all 250ms
}
.aside .wrap__aside-fix .menu-principal-container ul li a:hover {
    background:#fff;
    color:#BF1435 !important;
}

.aside .wrap__aside-fix .menu-principal-container ul li a:focus {
    background:#fff;
    color:#BF1435 !important;    
}
.aside .wrap__aside-fix .menu-principal-container ul li span {
    font-size:20px;
    line-height:43px;
    position:absolute;
    right:0px;
    top:0px;
    width:40px;
    color:#656565;
    margin-top:-1px;
    text-align:center;
    z-index:999
}
.aside .wrap__aside-fix .menu-principal-container ul li > .sub-menu {
    max-height:0;
    overflow:hidden;
    transition:all 250ms
}
.aside .wrap__aside-fix .menu-principal-container ul li > .sub-menu li a {
    background:#F1F1F1;
    padding-left:120px;
    text-align:left
}
.aside .wrap__aside-fix .menu-principal-container ul li > .sub-menu li.active a {
    color:#DE1F44
}
.aside .wrap__aside-fix .menu-principal-container ul li.open > .sub-menu {
    max-height:500px
}
.aside .wrap__aside-fix .menu-principal-container ul li.active a {
    background:#BF1435;
    color:#fff;
    border-right:5px solid #f14667
}
.aside .wrap__aside-fix .aside__bases {
    margin-bottom:20px
}
.aside .wrap__aside-fix .aside__bases a {
    background:#DE1F44;
    display:block;
    line-height:45px;
    text-align:center;
    color:#fff;
    transition:all 250ms;
    text-transform:uppercase;
    width:100%
}
.aside .wrap__aside-fix .aside__bases a:hover {
    background:#c00126
}
.aside .wrap__aside-fix p {
    text-align:center;
    color:#6B6B6B;
    font-weight:700
}
.aside .wrap__aside-fix p span {
    color:#DE1F44
}
@media (max-width: 1200px) {
    header .top h1 {
        text-align:center
    }
    header .top h1 a img {
        max-width:405px
    }
    header .top form {
        padding:19px 0px
    }
    nav .menu a.access {
        height:35px;
        width:3.6%
    }
    nav .menu a.access span {
        font-size:16px;
        margin-right:0px
    }
    nav .menu a.access p {
        display:none
    }
}
@media (max-width: 992px) {
    header .top {
        text-align:center
    }
    header .top h1 {
        margin-bottom:10px;
        vertical-align:bottom
    }
    header .top form {
        border:none;
        text-align:center;
        margin-right:10px;
        float:right;
        width:auto
    }
    header .top form fieldset input {
        display:none
    }
    header .top form .submit-mobile {
        display:block
    }
    header .top form .submit-desktop {
        display:none
    }
    header .top .socials {
        padding:31px 0px;
        float:right;
        vertical-align:top
    }
    header .top .socials p {
        display:none
    }
    nav .menu ul {
        display:none
    }
    nav .menu ul li .sub-menu {
        display:none
    }
    nav .menu a.open, nav .menu a.access {
        margin:0px;
        height:48px;
        line-height:48px;
        width:40px
    }
    nav .menu a.open span, nav .menu a.access span {
        font-size:20px
    }
    nav .menu a.open {
        background:#bd2128;
        color:#fff;
        display:block;
        float:right;
        text-align:center;
        margin-right:5px;
        line-height:53px
    }
}
@media (max-width: 768px) {
    header {
        padding-bottom:7px
    }
    header .top .socials {
        float:inherit;
        padding:0px
    }
    header .top form {
        float:inherit;
        padding:0px;
        line-height:0px
    }
}
@media (max-width: 750px) {
    header .top {
        padding-bottom:10px
    }
    header .top form {
        padding:0px;
        vertical-align:bottom
    }
    header .top .socials {
        vertical-align:top;
        padding:0px
    }
    header .top form {
        line-height:0px
    }
}
footer {
    background:#7d1d21;
    overflow:hidden
}
footer .inner {
    padding:16px 0px
}
footer .inner .mail, footer .inner .phone, footer .inner .address {
    color:#fff;
    padding:13px 15px;
    text-align:center
}
footer .inner .mail span, footer .inner .phone span, footer .inner .address span {
    display:inline-block;
    font-size:22px;
    margin-right:12px;
    vertical-align:middle
}
footer .inner .mail p, footer .inner .phone p, footer .inner .address p {
    display:inline-block;
    font-size:16px;
    font-weight:300;
    vertical-align:middle
}
footer .inner .mail p a, footer .inner .phone p a, footer .inner .address p a {
    color:#fff
}
footer .inner .phone, footer .inner .address {
    text-align:left
}
.copyright {
    background:#611619
}
.copyright p {
    color:#fff;
    font-size:14px;
    display:inline-block;
    font-weight:300;
    line-height:43px
}
.copyright a {
    display:inline-block;
    margin:11px 0px;
    transition:opacity 250ms;
    float:right
}
.copyright a:hover {
    opacity:0.6
}
@media (max-width: 1200px) {
    footer .inner .mail p, footer .inner .phone p, footer .inner .address p {
        font-size:14px
    }
}
@media (max-width: 992px) {
    footer {
        padding-left:15px
    }
    footer .inner .mail, footer .inner .phone, footer .inner .address {
        text-align:left;
        margin-bottom:15px;
        padding:0px 10px
    }
    footer .inner .mail p, footer .inner .phone p, footer .inner .address p {
        font-size:14px
    }
    footer .inner .phone, footer .inner .address {
        padding-left:16px
    }
    footer .inner .brand {
        margin-bottom:15px
    }
    footer .inner .brand figure img {
        max-width:115px
    }
}
@media (max-width: 480px) {
    footer {
        padding-left:15px
    }
    footer .inner .address p {
        font-size:11px
    }
}
.wrap__content {
    border-left:1px solid #E5E5E5
}
.wrap__content .wrap__slider .slide {
    position:relative
}
.wrap__content .wrap__slider .slide img {
    height:auto;
    display:block;
    line-height:0;
    width:100%
}
.wrap__content .wrap__slider .slide .slide__info {
    position:absolute;
    bottom:0px;
    left:50px;
    z-index:10
}
@media (max-width: 600px) {
    .wrap__content .wrap__slider .slide .slide__info {
        bottom:0px;
        left:20px
    }
}
.wrap__content .wrap__slider .slide .slide__info h1 {
    color:#fff;
    font-weight:700;
    font-size:34px;
    text-transform:uppercase;
    padding-bottom:20px;
    margin-bottom:20px;
    position:relative
}
@media (max-width: 600px) {
    .wrap__content .wrap__slider .slide .slide__info h1 {
        font-size:18px
    }
}
.wrap__content .wrap__slider .slide .slide__info h1:after {
    height:3px;
    width:20px;
    position:absolute;
    left:0px;
    background:#DE1F44;
    content:'';
    bottom:0px
}
.wrap__content .wrap__slider .slide .slide__info p {
    color:#555555;
    font-size:12px;
    font-weight:400;
    line-height:16px;
    width:85%
}
@media (max-width: 600px) {
    .wrap__content .wrap__slider .slide .slide__info p {
        display:none
    }
}
.wrap__content .wrap__slider .slide:after {
    /*background:linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, transparent 100%);*/
    bottom:0px;
    content:'';
    height:100%;
    left:0px;
    position:absolute;
    width:100%;
    z-index:5
}
.wrap__content .content__participa a {
    display:block;
    text-transform:uppercase;
    text-align:center;
    background:url("../img/html/home-btn-lines.png") no-repeat center center #DB3346;
    background-size:100% 100%;
    text-transform:uppercase;
    font-size:22px;
    color:#fff;
    line-height:28px;
    transition:all 250ms;
    padding:20px 10px
}
@media (max-width: 600px) {
    .wrap__content .content__participa a {
        font-size:14px;
        line-height:20px
    }
}
.wrap__content .content__participa a:hover {
    background:url("../img/html/home-btn-lines.png") no-repeat center center #c71f32;
    background-size:100% 100%
}
.wrap__content .wrap__news {
    margin:0px auto;
    padding-top:50px;
    max-width:700px;
    width:100%
}
@media (max-width: 1200px) {
    .wrap__content .wrap__news {
        max-width:500px
    }
}
@media (max-width: 992px) {
    .wrap__content .wrap__news {
        max-width:80%
    }
}
.wrap__content .wrap__news.contacto {
    margin-bottom:75px
}
.wrap__content .wrap__news.ganadores {
    padding-bottom:75px
}
.wrap__content .wrap__news.ganadores .wrap__download {
    text-align:left;
    display: inline-block;
}
.wrap__content .wrap__news.como__participar {
    padding-bottom:75px
}
.wrap__content .wrap__news.como__participar h2 {
    color:#505050;
    font-size:18px;
    font-weight:700;
    margin-bottom:45px;
    text-transform:uppercase
}
.wrap__content .wrap__news.como__participar h3 {
    font-size:18px;
    color:#8D8D8D;
    margin-bottom:50px
}
.wrap__content .wrap__news.como__participar h3 a {
    color:#DB3346;
    font-weight:700;
    transition:all 250ms;
    margin-bottom:47px
}
.wrap__content .wrap__news.como__participar h3 a:hover {
    color:#a90114
}
.wrap__content .wrap__news .wrap_steps {
    height:1%;
    overflow:hidden;
    text-align:center
}
.wrap__content .wrap__news .wrap_steps .step {
    display:inline-block;
    padding:0px 5px;
    text-align:center;
    width:32.9%;
    vertical-align:top;
    margin-bottom:50px
}
@media (max-width: 992px) {
    .wrap__content .wrap__news .wrap_steps .step {
        width:100%
    }
}
.wrap__content .wrap__news .wrap_steps .step figure {
    display:inline-block;
    max-width:93px;
    margin-bottom:20px;
    height:75px
}
.wrap__content .wrap__news .wrap_steps .step p {
    font-size:14px;
    text-align:center;
    color:#595959;
    max-width:98%;
    line-height:16px
}
.wrap__content .wrap__news .wrap_steps .step p strong {
    color:#BF1435;
    font-weight:bold;
    text-transform:uppercase
}
.wrap__content .wrap__news .wrap_steps .step:nth-of-type(1) figure, .wrap__content .wrap__news .wrap_steps .step:nth-of-type(2) figure, .wrap__content .wrap__news .wrap_steps .step:nth-of-type(5) figure {
    padding-top:18px
}
.wrap__content .wrap__news p.title {
    color:#555555;
    font-size:14px;
    line-height:16px;
    margin-bottom:25px;
    padding-bottom:44px
}
.wrap__content .wrap__news p.title:after {
    background:#DE1F44;
    bottom:0px;
    content:'';
    height:3px;
    left:0px;
    position:absolute;
    width:20px
}
.wrap__content .wrap__news .item__news {
    height:1%;
    overflow:hidden;
    margin-bottom:40px;
    position:relative
}
@media (max-width: 992px) {
    .wrap__content .wrap__news .item__news .news__thumb {
        margin-bottom:30px
    }
}
.wrap__content .wrap__news .item__news .news__thumb figure {
    position:relative
}
.wrap__content .wrap__news .item__news .news__thumb figure:after {
    content:'';
    height:5px;
    background:#DB3346;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%
}
.wrap__content .wrap__news .item__news .news__info {
    position:relative;
    transition:max-height 250ms

}


.wrap__content .wrap__news .item__news .news__info h2 {
    color:#DB3346;
    font-size:17px;
    font-weight:700;
    margin-bottom:10px
}
.wrap__content .wrap__news .item__news .news__info>span {
    color:#929292;
    font-size:11px;
    margin-bottom:10px;
    transition:transform 2s;
    display:block
}
.wrap__content .wrap__news .item__news .news__info>p {
    font-size:12px;
    color:#555555;
    line-height:16px;
    width:95%
}
.wrap__content .wrap__news .item__news .news__info .share__post {
    margin-top:20px;
    display:none;
    height:1%;
    overflow:hidden
}
.wrap__content .wrap__news .item__news .news__info .share__post p {
    background:#F5F5F5;
    color:#656565;
    line-height:25px;
    font-size:13px;
    padding:0px 15px;
    float:left
}
.wrap__content .wrap__news .item__news .news__info .share__post a {
    display:block;
    float:left;
    height:25px;
    width:25px;
    text-align:center;
    line-height:25px;
    transition:all 250ms;
    color:#fff
}
.wrap__content .wrap__news .item__news .news__info .share__post a.fb {
    background:#DB3346
}
.wrap__content .wrap__news .item__news .news__info .share__post a.fb:hover {
    background:#a90114
}
.wrap__content .wrap__news .item__news .news__info .share__post a.tw {
    background:#BF1435
}
.wrap__content .wrap__news .item__news .news__info .share__post a.tw:hover {
    background:#8d0003
}
.wrap__content .wrap__news .item__news>a {
    position:absolute;
    right:0px;
    bottom:0px;
    display:block;
    width:0;
    height:0;
    border-bottom:50px solid #DB3346;
    border-left:50px solid transparent;
    transition:all 250ms;
    z-index:999
}
.wrap__content .wrap__news .item__news>a span {
    position:absolute;
    color:#fff;
    z-index:10;
    bottom:-48px;
    right:8px;
    font-size:24px
}
.wrap__content .wrap__news .item__news>a:hover {
    border-bottom:50px solid #a90114
}
.wrap__content .wrap__news .item__news.news__jurado .news__info {
    max-height:140px
}
@media (max-width: 992px) {
    .wrap__content .wrap__news .item__news.news__jurado .news__info {
        max-height:160px
    }
}
.wrap__content .wrap__news .item__news.news__jurado .news__info p {
    height:92px;
    overflow:hidden;
    position:relative
}
.wrap__content .wrap__news .item__news.news__jurado .news__info p:after {
    height:20px;
    content:'';
    position:absolute;
    bottom:0px;
    left:0px;
   /* background:linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);*/
    width:100%
}
.wrap__content .wrap__news .item__news.news__jurado.open_description .news__info {
    max-height:inherit;
}
.wrap__content .wrap__news .item__news.news__jurado.open_description .news__info p {
    height:auto
}
.wrap__content .wrap__news .item__news.news__jurado.open_description .news__info p:after {
    display:none
}
.wrap__content .wrap__news .item__news.news__jurado.open_description a span {
    transform:rotate(180deg)
}
.wrap__content .wrap__news .item__news.presidente .news__thumb {
    margin-bottom:20px;
    max-width:290px
}
@media (max-width: 700px) {
    .wrap__content .wrap__news .item__news.presidente .news__thumb {
        max-width:initial;
        width:100%
    }
}
.wrap__content .wrap__news .item__news.presidente .news__info p {
    margin-bottom:10px
}
.wrap__content .wrap__news .contacto__datos h2 {
    font-size:20px;
    color:#D53540;
    margin-bottom:20px
}
.wrap__content .wrap__news .contacto__datos p {
    font-size:14px;
    line-height:18px;
    color:#989898
}
.wrap__content .wrap__news .contacto__datos p span {
    color:#727272;
    font-weight:700
}
.wrap__content .wrap__news .contacto__form {
    padding-bottom:20px
}
.wrap__content .wrap__news .contacto__form h3 {
    font-size:12px;
    color:#282828;
    padding:0px 10px;
    margin-bottom:20px
}
@media (max-width: 992px) {
    .wrap__content .wrap__news .contacto__form h3 {
        padding:15px 0px;
        margin-bottom:0px
    }
}
.wrap__content .wrap__news .contacto__form form fieldset {
    height:1%;
    overflow:hidden
}
.wrap__content .wrap__news .contacto__form form fieldset .input {
    float:left;
    padding:5px 10px;
    width:50%
}
@media (max-width: 992px) {
    .wrap__content .wrap__news .contacto__form form fieldset .input {
        padding:5px 0px;
        width:100%
    }
}
.wrap__content .wrap__news .contacto__form form fieldset .input input {
    border:none;
    background:#F3F3F3;
    height:44px;
    padding:0px 10px;
    outline:none;
    font-size:12px;
    width:100%
}
.wrap__content .wrap__news .contacto__form form fieldset .textarea {
    clear:both;
    padding:5px 10px;
    width:100%
}
@media (max-width: 992px) {
    .wrap__content .wrap__news .contacto__form form fieldset .textarea {
        padding:5px 0px
    }
}
.wrap__content .wrap__news .contacto__form form fieldset .textarea textarea {
    border:none;
    outline:none;
    background:#F3F3F3;
    height:100px;
    resize:none;
    padding:10px 10px;
    font-size:12px;
    width:100%
}
.wrap__content .wrap__news .contacto__form form .input.send {
    padding:10px 10px
}
.wrap__content .wrap__news .contacto__form form .input.send input {
    height:44px;
    background:#BF1435;
    color:#fff;
    border:none;
    text-align:center;
    float:right;
    cursor:pointer;
    transition:all 250ms;
    width:140px
}
.wrap__content .wrap__news .contacto__form form .input.send input:hover {
    background:#8d0003
}
.wrap__content .wrap__gallery {
    margin:0px auto;
    padding-bottom:40px;
    border-bottom:1px solid #EDEDED;
    margin-bottom:37px;
    height:1%;
    overflow:hidden;
    padding-top:50px;
    max-width:700px;
    width:100%
}
@media (max-width: 1200px) {
    .wrap__content .wrap__gallery {
        max-width:500px
    }
}
@media (max-width: 992px) {
    .wrap__content .wrap__gallery {
        max-width:80%
    }
}
.wrap__content .wrap__gallery .gallery__item {
    float:left;
    width:33.3%
}
@media (max-width: 992px) {
    .wrap__content .wrap__gallery .gallery__item {
        margin-bottom:10px;
        width:100%
    }
}
.wrap__content .wrap__gallery .gallery__item a {
    display:block;
    position:relative
}
.wrap__content .wrap__gallery .gallery__item a img {
    display:block;
    line-height:0px;
    width:100%
}
.wrap__content .wrap__gallery .gallery__item a span {
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    transform:translate(-50%, -50%);
    font-size:30px;
    z-index:10
}
@media (max-width: 1200px) {
    .wrap__content .wrap__gallery .gallery__item a span {
        font-size:20px;
        max-width:500px
    }
}
.wrap__content .wrap__gallery .gallery__item a:hover:after {
    background:rgba(219, 51, 70, 0.8)
}
.wrap__content .wrap__gallery .gallery__item a:after {
    background:rgba(219, 51, 70, 0.7);
    content:'';
    height:100%;
    left:0px;
    overflow:hidden;
    position:absolute;
    transition:background 250ms;
    top:0px;
    width:100%
}
.wrap__content .wrap__sponsor {
    margin:0px auto;
    padding-bottom:40px;
    margin-bottom:37px;
    height:1%;
    overflow:hidden;
    max-width:700px;
    width:100%
}
@media (max-width: 1200px) {
    .wrap__content .wrap__sponsor {
        max-width:500px
    }
}
@media (max-width: 992px) {
    .wrap__content .wrap__sponsor {
        max-width:80%
    }
}
.wrap__content .wrap__sponsor .sponsor__item {
    float:left;
    width:33.3%
}
@media (max-width: 992px) {
    .wrap__content .wrap__sponsor .sponsor__item {
        margin-bottom:30px;
        width:100%
    }
}
.wrap__content .wrap__sponsor .sponsor__item h3 {
    color:#DE1F44;
    font-size:14px;
    font-weight:bold;
    margin-bottom:30px
}
.wrap__content .wrap__sponsor .sponsor__item .thumb {
    text-align:center;
    width:100%
}
.wrap__content .wrap__sponsor .sponsor__item .thumb img {
    display:inline-block;
    filter:grayscale(100%);
    max-width:150px
}
.wrap__content .wrap__sponsor .sponsor__item:nth-of-type(1) h3 {
    margin-bottom:55px
}
.wrap__content .wrap__copy {
    background:#EDEDED
}
.wrap__content .wrap__copy .copy__inner {
    height:1%;
    overflow:hidden;
    margin:0px auto;
    max-width:700px;
    width:100%
}
@media (max-width: 1200px) {
    .wrap__content .wrap__copy .copy__inner {
        max-width:500px
    }
}
@media (max-width: 992px) {
    .wrap__content .wrap__copy .copy__inner {
        max-width:80%
    }
}
@media (max-width: 600px) {
    .wrap__content .wrap__copy .copy__inner {
        max-width:100%
    }
}
.wrap__content .wrap__copy .copy__inner>a {
    background:#DE1F44;
    color:#fff;
    display:block;
    float:left;
    font-size:14px;
    line-height:52px;
    margin-right:30px;
    padding:0px 30px;
    text-align:center;
    text-transform:uppercase;
    transition:all 250ms
}
@media (max-width: 600px) {
    .wrap__content .wrap__copy .copy__inner>a {
        width:100%
    }
}
.wrap__content .wrap__copy .copy__inner>a:hover {
    background:#b6001c
}
.wrap__content .wrap__copy .copy__inner p {
    line-height:52px;
    font-size:12px;
    color:#8D8D8D;
    font-weight:700
}
@media (max-width: 600px) {
    .wrap__content .wrap__copy .copy__inner p {
        text-align:center;
        width:100%
    }
}
.wrap__content .wrap__copy .copy__inner p a {
    color:#8D8D8D
}
.wrap__content .wrap__copy .copy__inner p span {
    color:#DE1F44
}
.wrap__content .wrap__title-inner {
    background:url("../img/html/title-inner-bg.png") no-repeat center center #F4F4F4;
    background-size:100% 100%;
    height:155px;
    padding:90px 0px 20px 75px
}
@media (max-width: 600px) {
    .wrap__content .wrap__title-inner {
        padding:90px 0px 20px 15px
    }
}
.wrap__content .wrap__title-inner h1 {
    margin-bottom:0px
}
.wrap__content .wrap__title-inner h1.title {
    color:#282828;
    font-weight:700
}
.wrap__content .wrap__title-inner h1 span {
    color:#6E6E6E
}
.wrap__content .wrap__winners {
    height:1%;
    overflow:hidden;
    margin-bottom:50px
}
.wrap__content .wrap__winners .items {
    height:1%;
    overflow:hidden
}
.wrap__content .wrap__winners .winner__item {
    float:left;
    padding:3px;
    width:50%
}
@media (max-width: 992px) {
    .wrap__content .wrap__winners .winner__item {
        width:100%
    }
}
.wrap__content .wrap__winners .winner__item img {
    display:block;
    line-height:0
}
.wrap__content .wrap__winners .wrap__download {
    margin-top:20px;
    clear:both
}
.wrap__content .wrap__winners .wrap__download a {
    background:#BF1435;
    vertical-align:top;
    display:inline-block;
    line-height:51px;
    position:relative;
    color:#fff;
    transition:all 250ms;
    width:260px;
    padding:0px 20px
}
.wrap__content .wrap__winners .wrap__download a span {
    background:url("../img/html/download-icon.svg") no-repeat center center #DE1F44;
    position:absolute;
    top:0px;
    right:0px;
    height:51px;
    transition:all 250ms;
    width:51px
}
.wrap__content .wrap__winners .wrap__download a:hover {
    background:#DE1F44
}
.wrap__content .wrap__winners .wrap__download a:hover span {
    background:url("../img/html/download-icon.svg") no-repeat center center #BF1435
}
.title {
    font-size:28px;
    color:#555555;
    padding-bottom:15px;
    margin-bottom:30px;
    position:relative
}
.title:after {
    background:#DE1F44;
    bottom:0px;
    content:'';
    height:3px;
    left:0px;
    position:absolute;
    width:20px
}
.wrap__download {
    margin-top:20px;
    text-align:center;
    clear:both
}
.wrap__download a {
    background:#BF1435;
    vertical-align:top;
    display:inline-block;
    line-height:51px;
    position:relative;
    color:#fff;
    transition:all 250ms;
    min-width:260px;
    padding:0px 80px 0px 20px;
    margin-right:20px
}
@media (max-width: 992px) {
    .wrap__download a {
        margin-right:0px;
        font-size:12px;
        margin-bottom:10px;
        width:100%
    }
}
.wrap__download a span {
    background:url("../img/html/download-icon.svg") no-repeat center center #DE1F44;
    position:absolute;
    top:0px;
    right:0px;
    height:51px;
    transition:all 250ms;
    width:51px
}
.wrap__download a:nth-of-type(2) {
    margin-right:0px
}
.wrap__download a:hover {
    background:#DE1F44
}
.wrap__download a:hover span {
    background:url("../img/html/download-icon.svg") no-repeat center center #BF1435
}
.paginator {
    padding:20px 10px;
    width:100%
}
.paginator ul {
    text-align:center
}
.paginator ul li {
    display:inline-block
}
.paginator ul li a {
    display:block;
    height:30px;
    color:#656565;
    font-size:16px;
    width:30px;
    text-align:center;
    line-height:30px;
    transition:all 250ms
}
.paginator ul li a:hover {
    color:#fff;
    background:#DB3346
}
.paginator ul li.active a {
    color:#fff;
    background:#DB3346
}
.share__post--lightbox {
    margin-top:20px;
    display:block;
    height:26px;
    overflow:hidden;
    position:absolute;
    bottom:10px;
    right:10px;
    z-index:9999
}
.share__post--lightbox p {
    background:#F5F5F5;
    color:#656565;
    line-height:25px;
    font-size:13px;
    padding:0px 15px;
    float:left
}
.share__post--lightbox a {
    display:block;
    float:left;
    height:25px;
    width:25px;
    text-align:center;
    line-height:25px;
    transition:all 250ms;
    color:#fff
}
.share__post--lightbox a.fb {
    background:#DB3346
}
.share__post--lightbox a.fb:hover {
    background:#a90114
}
.share__post--lightbox a.tw {
    background:#BF1435
}
.share__post--lightbox a.tw:hover {
    background:#8d0003
}

.title_slider{
    color:#DB3346 !important;
    font-size: 23px !important;
    width: 10%;
}

.pre{
    display:block;
}
.all{
    display:none;
}
.cont_pre {
    display: none;
}
.cont_all{
    display: block;
}
.share__post_hide{
    display: block !important;
}