header .top {
	padding-top: 20px !important;
}

.aside .wrap__aside-fix .menu-principal-container ul li span {
	line-height: 50px !important;
}

.content__participa {
	display: none;
}

.wrap__content {
	position: relative;
	min-height: 900px !important;
}

.wrap__copy {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

@media(max-width: 992px) {
	.wrap__content {
		position: relative;
		min-height: autoa
		 !important;
	}

	.wrap__copy {
		position: initial;
		bottom: 0px;
		left: 0px;
		width: 100%;
	}	

	.content__participa {
		display: block;
	}	
}


.aside .wrap__aside-fix .menu-principal-container .menu-item-has-children a {
	position: relative;
}

.aside .wrap__aside-fix .menu-principal-container .menu-item-has-children > a:after {
	content: '\f107';
	color: #656565;
	font-family: FontAwesome;
	font-size: 20px;
	height: 100%;
	line-height: 48px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px;
}

.wrap__content .wrap__news .item__news .news__info .share__post a.fb span,
.wrap__content .wrap__news .item__news .news__info .share__post a.tw span {
	transform: rotate(0deg) !important;
}

.wrap__content .wrap__news .wrap__winners .share__post {
    margin-top: 20px;
    display: inline-block;
    height: 1%;
    overflow: hidden;
    vertical-align: bottom;
}
.wrap__content .wrap__news .wrap__winners .share__post p {
    background:#F5F5F5;
    color:#656565;
    line-height:25px;
    font-size:13px;
    padding:0px 15px;
    float:left
}
.wrap__content .wrap__news .wrap__winners .share__post a {
    display:block;
    float:left;
    height:25px;
    width:25px;
    text-align:center;
    line-height:25px;
    transition:all 250ms;
    color:#fff
}
.wrap__content .wrap__news .wrap__winners .share__post a.fb {
    background:#DB3346
}
.wrap__content .wrap__news .wrap__winners .share__post a.fb:hover {
    background:#a90114
}
.wrap__content .wrap__news .wrap__winners .share__post a.tw {
    background:#BF1435
}
.wrap__content .wrap__news .item__news .news__info .share__post a.tw:hover {
    background:#8d0003
}

.wrap__content {
	padding-bottom: 60px;
}

.wrap__content .wrap__news.como__participar h3 a:focus {
	color: #DB3346 !important;
}

.error-form {
	border: 1px solid red !important;
}

@media(max-width: 992px) {
	.aside {
	    position: fixed !important;
	    top: 0px;
	    height: 100%;
	    width: 80% !important;
	    left: -100%;
	    z-index: 999;
	    background: #fff;
	    transition: all 250ms;
	    overflow-y: scroll;		
	}

	.wrap__content {
		padding-bottom: 0px;
	}
}