@import '../base/variables';

.aside {
	@media(max-width:992px)	{
		position: fixed;
		top: 0px;
		height: 100%;
		width: 80%;
		left: -100%;
		z-index: 999;
		background: #fff;
		transition: all 250ms;
		overflow-y: scroll;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&.enabled {
		left: 0px;
	}

	.wrap__aside-fix {
		padding-bottom: 30px;		

		.aside__brand {
			text-align: center;
			padding: 32px 10px;
			width: 100%;

			img {
				max-width: 98px;
				display: inline-block
			}
		}

		.aside__postula {
			a {
				background: $colorBase;
				display: block;
				line-height: 65px;
				text-align: center;
				color: #fff;
				transition: all 250ms;
				text-transform: uppercase;
				width: 100%;

				&:hover {
					background: $colorBase - 30;
				}
			}
		}

		.aside__login {
			a {
				background: $grey;
				display: block;
				line-height: 65px;
				text-align: center;
				color: $colorBase;
				transition: all 250ms;
				text-transform: uppercase;
				width: 100%;

				&:hover {
					background: $grey - 30;
				}
			}
		}		

		nav {
			ul {
				li {
					border-bottom: 1px solid #E5E5E5;
					position: relative;

					a {
						color: #656565;
						display: block;
						font-size: 12px;
						padding: 15px 0px;
						position: relative;
						text-align: center;
						text-transform: uppercase;
						transition: all 250ms;

						&:hover {
							background: $colorBase;
							color: #fff;
						}
					}

					span {
						font-size: 20px;
						line-height: 43px;
						position: absolute;
						right: 0px;
						top: 0px;
						width: 40px;
						color: #656565;
						margin-top: -1px;
						text-align: center;
						z-index: 999;
					}					

					.submenu {
						max-height: 0;
						overflow: hidden;
						transition: all 250ms;

						li {
							a {
								background: #F1F1F1;
								padding-left: 120px;
								text-align: left;
							}

							&.active {
								a {
									color: #DE1F44;
								}
							}
						}
					}

					&.open {
						.submenu {
							max-height: 500px;
						}
					}

					&.active {
						a {
							background: $colorBase;
							color: #fff;
							border-right: 5px solid $colorBase + 50;
						}
					}
				}
			}
		}

		.aside__bases {
			margin-bottom: 20px;

			a {
				background: #DE1F44;
				display: block;
				line-height: 45px;
				text-align: center;
				color: #fff;
				transition: all 250ms;
				text-transform: uppercase;
				width: 100%;

				&:hover {
					background: #DE1F44 - 30;
				}
			}
		}	

		p {
			text-align: center;
			color: #6B6B6B;
			font-weight: 700;

			span {
				color: #DE1F44;
			}
		}	
	}
}