@media (max-width: 1200px) {
  header .top h1 {
    text-align: center; }
    header .top h1 a img {
      max-width: 405px; }

  header .top form {
    padding: 19px 0px; }

  nav .menu a.access {
    height: 35px;
    width: 3.6%; }
    nav .menu a.access span {
      font-size: 16px;
      margin-right: 0px; }
    nav .menu a.access p {
      display: none; } }
@media (max-width: 992px) {
  header .top {
    text-align: center; }
    header .top h1 {
      margin-bottom: 10px;
      vertical-align: bottom; }
    header .top form {
      border: none;
      text-align: center;
      margin-right: 10px;
      float: right;
      width: auto; }
      header .top form fieldset input {
        display: none; }
      header .top form .submit-mobile {
        display: block; }
      header .top form .submit-desktop {
        display: none; }
    header .top .socials {
      padding: 31px 0px;
      float: right;
      vertical-align: top; }
      header .top .socials p {
        display: none; }

  nav .menu ul {
    display: none; }
    nav .menu ul li .sub-menu {
      display: none; }
  nav .menu a.open,
  nav .menu a.access {
    margin: 0px;
    height: 48px;
    line-height: 48px;
    width: 40px; }
    nav .menu a.open span,
    nav .menu a.access span {
      font-size: 20px; }
  nav .menu a.open {
    background: #bd2128;
    color: #fff;
    display: block;
    float: right;
    text-align: center;
    margin-right: 5px;
    line-height: 53px; } }
@media (max-width: 768px) {
  header {
    padding-bottom: 7px; }

  header .top .socials {
    float: inherit;
    padding: 0px; }

  header .top form {
    float: inherit;
    padding: 0px;
    line-height: 0px; } }
@media (max-width: 750px) {
  header .top {
    padding-bottom: 10px; }
    header .top form {
      padding: 0px;
      vertical-align: bottom; }
    header .top .socials {
      vertical-align: top;
      padding: 0px; }

  header .top form {
    line-height: 0px; } }
    
footer {
  background: #7d1d21;
  overflow: hidden; }
  footer .inner {
    padding: 16px 0px; }
    footer .inner .mail,
    footer .inner .phone,
    footer .inner .address {
      color: #fff;
      padding: 13px 15px;
      text-align: center; }
      footer .inner .mail span,
      footer .inner .phone span,
      footer .inner .address span {
        display: inline-block;
        font-size: 22px;
        margin-right: 12px;
        vertical-align: middle; }
      footer .inner .mail p,
      footer .inner .phone p,
      footer .inner .address p {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        vertical-align: middle; }
        footer .inner .mail p a,
        footer .inner .phone p a,
        footer .inner .address p a {
          color: #fff; }
    footer .inner .phone,
    footer .inner .address {
      text-align: left; }

.copyright {
  background: #611619; }
  .copyright p {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    line-height: 43px; }
  .copyright a {
    display: inline-block;
    margin: 11px 0px;
    transition: opacity 250ms;
    float: right; }
    .copyright a:hover {
      opacity: 0.6; }

@media (max-width: 1200px) {
  footer .inner .mail p,
  footer .inner .phone p,
  footer .inner .address p {
    font-size: 14px; } }
@media (max-width: 992px) {
  footer {
    padding-left: 15px; }
    footer .inner .mail,
    footer .inner .phone,
    footer .inner .address {
      text-align: left;
      margin-bottom: 15px;
      padding: 0px 10px; }
      footer .inner .mail p,
      footer .inner .phone p,
      footer .inner .address p {
        font-size: 14px; }
    footer .inner .phone,
    footer .inner .address {
      padding-left: 16px; }
    footer .inner .brand {
      margin-bottom: 15px; }
      footer .inner .brand figure img {
        max-width: 115px; } }
@media (max-width: 480px) {
  footer {
    padding-left: 15px; }
    footer .inner .address p {
      font-size: 11px; } }