header {
  background: #fff;
  position: relative;
  overflow: hidden;
  border-bottom: 13px solid #BF1435; }
  header .top {
    text-align: right;
    position: relative;
    z-index: 5; }
    header .top h1 {
      margin: 21px 0px 28px;
      text-align: left; }
      header .top h1 a {
        height: 100%; }
        header .top h1 a img {
          height: auto;
          width: 100%; }
    header .top form {
      border-left: 1px solid #dfdfdf;
      border-right: 1px solid #dfdfdf;
      display: inline-block;
      margin-right: 38px;
      padding: 31px 0px;
      text-align: center;
      width: 21%; }
      header .top form fieldset {
        display: inline-block;
        margin-right: 13px;
        vertical-align: middle; }
        header .top form fieldset input {
          border: none;
          border-bottom: 1px solid #000;
          display: inline-block;
          height: 16px;
          outline: 0px;
          width: 133px; }
      header .top form .submit-mobile,
      header .top form .submit-desktop {
        border-radius: 50%;
        border: 2px solid #000;
        background-clip: padding-box;
        -webkit-background-clip: padding-box;
        display: inline-block;
        height: 42px;
        position: relative;
        vertical-align: middle;
        transition: background 250ms;
        width: 42px; }
        header .top form .submit-mobile input,
        header .top form .submit-desktop input {
          border-radius: 50%;
          border: none;
          cursor: pointer;
          display: block;
          height: 42px;
          opacity: 0;
          position: relative;
          width: 42px;
          z-index: 2; }
        header .top form .submit-mobile:after,
        header .top form .submit-desktop:after {
          content: "\f002";
          font-size: 15px;
          font: normal normal normal 14px/1 FontAwesome;
          left: 50%;
          margin: -7px 0px 0px -7px;
          position: absolute;
          text-align: center;
          top: 50%;
          transition: color 250ms;
          z-index: 1; }
        header .top form .submit-mobile:hover,
        header .top form .submit-desktop:hover {
          background: #000; }
          header .top form .submit-mobile:hover:after,
          header .top form .submit-desktop:hover:after {
            color: #fff; }
      header .top form .submit-mobile {
        display: none; }
    header .top .socials {
      display: inline-block; }
      header .top .socials p {
        display: inline-block;
        margin-right: 13px; }
      header .top .socials a.tw {
        border-radius: 50%;
        background-clip: padding-box;
        -webkit-background-clip: padding-box;
        border: 2px solid #000;
        display: inline-block;
        height: 42px;
        text-align: center;
        line-height: 42px;
        transition: background 250ms, color 250ms;
        width: 42px; }
        header .top .socials a.tw span {
          color: #000;
          font-size: 15px; }
        header .top .socials a.tw:hover {
          border: 1px solid #59adec;
          background: #59adec; }
          header .top .socials a.tw:hover span {
            color: #fff; }

      header .top .socials a.fb {
        border-radius: 50%;
        background-clip: padding-box;
        -webkit-background-clip: padding-box;
        border: 2px solid #000;
        display: inline-block;
        height: 42px;
        text-align: center;
        line-height: 42px;
        transition: background 250ms, color 250ms;
        width: 42px; }
        header .top .socials a.fb span {
          color: #000;
          font-size: 15px; }
        header .top .socials a.fb:hover {
          border: 1px solid #59adec;
          background: #59adec; }
          header .top .socials a.fb:hover span {
            color: #fff; }            
  header:after {
    background: url("../img/html/header-after.png");
    content: '';
    height: 141px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 135px;
    z-index: 2; }
  header:before {
    background: url("../img/html/header-before.png");
    content: '';
    height: 157px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 204px;
    z-index: 2; }

.wrap__mobile {
  background: #BF1435;
  height: 1%;
  display: none;
  overflow: hidden;

  a {
    display: block;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    float: right;
    width: 45px;
    color: #fff;
  }
}


@media(max-width: 992px) {
  .wrap__mobile {
    display: block;
  }

  header {
    border-bottom: none;
  }
}
