
* {
   box-sizing: border-box;
}

html {
   height: 100%;
   width: 100%;
}

body {
	font-family: 'roboto';
	width: 100%;
}

img {
	width: 100%;
}

a {
	&:hover {
		text-decoration: none !important;
	}
}

.container {
	padding: 0 !important;
	
	@media (min-width: 1200px) {
		width: 1140px;
	}
	@media(max-width: 992px) {
		width: 100%;
		padding: 0;
	}
}

.pages {
	.container {
		border-left: 1px solid #E5E5E5;
		border-right: 1px solid #E5E5E5;
	}
}