@import '../base/variables';

.wrap__content {
	border-left: 1px solid #E5E5E5;

	.wrap__slider {
		.slide {
			position: relative;

			img {
				height: auto;
				display: block;
				line-height: 0;
				width: 100%;
			}

			.slide__info {
				position: absolute;
				bottom: 20px;
				left: 50px;
				z-index: 10;

				@media(max-width: 600px) {
				    bottom: 0px;
				    left: 20px;			
				}

				h1 {
					color: #fff;
					font-weight: 700;
					font-size: 34px;
					text-transform: uppercase;
					padding-bottom: 20px;
					margin-bottom: 20px;
					position: relative;
					@media(max-width: 600px) {	
						font-size: 18px;
					}					

					&:after {
						height: 3px;
						width: 20px;
						position: absolute;
						left: 0px;
						background: #DE1F44;
						content: '';
						bottom:0px;
					}
				}

				p {
					color: #fff;
					font-size: 12px;
					font-weight: 300;
					line-height: 16px;
					width: 85%;
					@media(max-width: 600px) {
						display: none;
					}
				}
			}

			&:after {
				background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
				bottom: 0px;
				content: '';
				height: 100%;
				left: 0px;
				position: absolute;
				width: 100%;
				z-index: 5;
			}
		}
	}

	.content__participa {
		a {
			display: block;
			text-transform: uppercase;
			text-align: center;
			background: url('../img/html/home-btn-lines.png') no-repeat center center #DB3346;
			background-size: 100% 100%;
			text-transform: uppercase;
			font-size: 22px;
			color: #fff;
			line-height: 28px;
			transition: all 250ms;
			padding: 20px 10px;
			@media(max-width:600px) {
				font-size: 14px;
				line-height: 20px;
			}

			&:hover {
				background: url('../img/html/home-btn-lines.png') no-repeat center center #DB3346 - 20;
				background-size: 100% 100%;
			}
		}
	}

	.wrap__news {
		margin: 0px auto;
		padding-top: 50px;
		max-width: 700px;
		width: 100%;
		@media(max-width: 1200px) {
			max-width: 500px;
		}

		@media(max-width: 992px) {
			max-width: 80%;
		}

		&.contacto {
			margin-bottom: 75px;
		}	

		&.ganadores {
			padding-bottom: 75px;

			.wrap__download {
				text-align: left;
			}
		}	

		&.como__participar {
			padding-bottom: 75px;

			h2 {
				color: #505050;
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 45px;
				text-transform: uppercase;
			}

			h3 {
				font-size: 18px;
				color: #8D8D8D;
				margin-bottom: 50px;

				a {
					color: #DB3346;
					font-weight: 700;
					transition: all 250ms;
					margin-bottom: 47px;

					&:hover {
						color: #DB3346 - 50;
					}
				}
			}
		}

		.wrap_steps {
			height: 1%;
			overflow: hidden;
			text-align: center;

			.step {
				display: inline-block;
				padding: 0px 5px;
				text-align: center;
				width: 32.9%;
				vertical-align: top;
				margin-bottom: 50px;
				@media(max-width: 992px) {
					width: 100%;
				}

				figure {
					display: inline-block;
					max-width: 93px;
					margin-bottom: 20px;
					height: 75px;
				}

				p {
					font-size: 14px;
					text-align: center;
					color: #595959;
					max-width: 98%;
					line-height: 16px;

					strong {
						color: #BF1435;
						font-weight: bold;
						text-transform: uppercase;
					}
				}

				&:nth-of-type(1),
				&:nth-of-type(2),
				&:nth-of-type(5) {
					figure {
						padding-top: 18px;
					}
				}
			}
		}

		p.title {
			color: #555555;
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 25px;
			padding-bottom: 44px;

			&:after {
				background: #DE1F44;
				bottom: 0px;
				content: '';
				height: 3px;
				left: 0px;
				position: absolute;
				width: 20px;
			}
		}

		.item__news {
			height: 1%;
			overflow: hidden;
			margin-bottom: 40px;
			position: relative;

			.news__thumb {
				@media(max-width: 992px) {
					margin-bottom: 30px;
				}				

				figure {
					position: relative;

					&:after {
						content: '';
						height: 5px;
						background: #DB3346;
						position: absolute;
						bottom: 0px;
						left: 0px;
						width: 100%;
					}					
				}
			}

			.news__info {
				position:relative;
				transition: max-height 250ms;

				h2 {
					color: #DB3346;
					font-size: 17px;
					font-weight: 700;
					margin-bottom: 10px;
				}

				> span {
					color: #929292;
					font-size: 11px;
					margin-bottom: 10px;
					transition: transform 2s;
					display: block;
				}

				> p {
					font-size: 12px;
					color: #555555;
					line-height: 16px;
					width: 95%;
				}

				.share__post {
					margin-top: 20px;
					display: block;
					height: 1%;
					overflow: hidden;

					p {
						background: #F5F5F5;
						color: #656565;
						line-height: 25px;
						font-size: 13px;
						padding: 0px 15px;
						float: left;
					}

					a {
						display: block;
						float: left;
						height: 25px;
						width: 25px;
						text-align: center;
						line-height: 25px;
						transition: all 250ms;
						color: #fff;

						&.fb {
							background: #DB3346;

							&:hover {
								background: #DB3346 - 50;								
							}
						}

						&.tw {
							background: #BF1435;

							&:hover {
								background: #BF1435 - 50;								
							}
						}						
					}
				}
			}

			> a {
				position: absolute;
				right: 0px;
				bottom: 0px;
				display: block;
				width: 0;
				height: 0;
				border-bottom: 50px solid #DB3346; 
				border-left: 50px solid transparent;
				transition: all 250ms;
				z-index: 999;

				span {
					position: absolute;
					color: #fff;
					z-index: 10;
					bottom: -48px;
					right: 8px;
					font-size: 24px;		
				}

				&:hover {
					border-bottom: 50px solid #DB3346 - 50; 
				}
			}

			&.news__jurado {
				.news__info {
					max-height: 140px;
					@media(max-width: 992px) {
						max-height: 160px;
					}

					p {
						height: 92px;
						overflow: hidden;
						position: relative;

						&:after {
							height: 20px;
							content: '';
							position: absolute;
							bottom: 0px;
							left: 0px;
							background: linear-gradient(0deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
							width: 100%;
						}
					}
				}

				&.open_description {
					.news__info {
						max-height: 1000px;

						p {
							height: auto;

							&:after {
								display: none;
							}
						}
					}

					a {
						span {
							transform: rotate(180deg);
						}
					}
				}									
			}

			&.presidente {
				.news__thumb {
					margin-bottom: 20px;
					max-width: 290px;
					@media(max-width: 700px) {
						max-width: initial;
						width: 100%;
					}
				}

				.news__info {
					p {
						margin-bottom: 10px;
					}
				}
			}
		}

		.contacto__datos {
			h2 {
				font-size: 20px;
				color: #D53540;
				margin-bottom: 20px;
			}

			p {
				font-size: 14px;
				line-height: 18px;
				color: #989898;

				span {
					color: #727272;
					font-weight: 700;
				} 
			}
		}

		.contacto__form {
			padding-bottom: 20px;

			h3 {
				font-size: 12px;
				color: #282828;
				padding: 0px 10px;
				margin-bottom: 20px;
				@media(max-width: 992px) {
					padding: 15px 0px;
					margin-bottom: 0px;
				}									
			}

			form {
				fieldset {
					height: 1%;
					overflow: hidden;

					.input {
						float: left;
						padding: 5px 10px;
						width: 50%;
						@media(max-width: 992px) {
							padding: 5px 0px;
							width: 100%;
						}

						input {
							border: none;
							background: #F3F3F3;
							height: 44px;
							padding: 0px 10px;
							outline: none;
							font-size: 12px;
							width: 100%;
						}
					}

					.textarea {
						clear: both;
						padding: 5px 10px;
						width: 100%;
						@media(max-width: 992px) {
							padding: 5px 0px;
						}						

						textarea {
							border: none;
							outline: none;
							background: #F3F3F3;
							height: 100px;
							resize: none;
							padding: 10px 10px;
							font-size: 12px;
							width: 100%;
						}						
					}
				}

				.input.send {
					padding: 10px 10px;

					input {
						height: 44px;
						background: #BF1435;
						color: #fff;
						border: none;
						text-align: center;
						float: right;
						cursor: pointer;
						transition: all 250ms;
						width:140px; 

						&:hover {
							background: #BF1435 - 50;
						}
					}
				}
			}
		}
	}

	.wrap__gallery {
		margin: 0px auto;
		padding-bottom: 40px;
		border-bottom: 1px solid #EDEDED;
		margin-bottom: 37px;
		height: 1%;
		overflow: hidden;
		padding-top: 50px;
		max-width: 700px;
		width: 100%;	
		@media(max-width: 1200px) {
			max-width: 500px;
		}		

		@media(max-width: 992px) {
			max-width: 80%;
		}			
		

		.gallery__item {
			float: left;
			width: 33.3%;
			@media(max-width: 992px) {
				margin-bottom: 10px;
				width: 100%;
			}			

			a {
				display: block;
				position: relative;

				img {
					display: block;
					line-height: 0px;
					width: 100%;
				}

				span {
					position: absolute;
					top: 50%;
					left: 50%;
					color: #fff;
					transform: translate(-50%, -50%);
					font-size: 30px;
					z-index: 10;

					@media(max-width: 1200px) {
						font-size: 20px;
						max-width: 500px;
					}					
				}

				&:hover {
					&:after {
						background: rgba(219, 51, 70, 0.8);
					}
				}

				&:after {
					background: rgba(219, 51, 70, 0.7);
					content: '';
					height: 100%;
					left: 0px;
					overflow: hidden;
					position: absolute;
					transition: background 250ms;
					top: 0px;
					width: 100%;
				}
			}
		}	
	}

	.wrap__sponsor {
		margin: 0px auto;
		padding-bottom: 40px;
		margin-bottom: 37px;
		height: 1%;
		overflow: hidden;
		max-width: 700px;
		width: 100%;	
		@media(max-width: 1200px) {
			max-width: 500px;
		}	

		@media(max-width: 992px) {
			max-width: 80%;
		}					


		.sponsor__item {
			float: left;
			width: 33.3%;
			@media(max-width: 992px) {
				margin-bottom: 30px;
				width: 100%;
			}			

			h3 {
				color: #DE1F44;
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 30px;
			}

			.thumb {
				text-align: center;
				width: 100%;

				img {
					display: inline-block;
					filter: grayscale(100%);
					max-width: 150px;
				}
			}

			&:nth-of-type(1) {
				h3 {
					margin-bottom: 55px;
				}
			}
		}		
	}

	.wrap__copy {
		background: #EDEDED;	

		.copy__inner {
			height: 1%;
			overflow: hidden;
			margin: 0px auto;
			max-width: 700px;
			width: 100%;
			@media(max-width: 1200px) {
				max-width: 500px;
			}				

			@media(max-width: 992px) {
				max-width: 80%;
			}	

			@media(max-width: 600px) {
				max-width: 100%;
			}			

			> a {
				background: #DE1F44;
				color: #fff;
				display: block;
				float: left;
				font-size: 14px;
				line-height: 52px;
				margin-right: 30px;
				padding: 0px 30px;
				text-align: center;
				text-transform: uppercase;
				transition: all 250ms;

				@media(max-width: 600px) {
					width: 100%;
				}				

				&:hover {
					background: #DE1F44 - 40;
				}
			}		

			p {
				line-height: 52px;
				font-size: 12px;
				color: #8D8D8D;
				font-weight: 700;

				@media(max-width: 600px) {
					text-align: center;
					width: 100%;
				}				

				a {
					color: #8D8D8D;
				}

				span {
					color: #DE1F44;
				}				
			}		
		}
	}

	.wrap__title-inner {
		background: url('../img/html/title-inner-bg.png') no-repeat center center #F4F4F4;
		background-size: 100% 100%;
		height: 155px;
		padding: 90px 0px 20px 75px;
		@media(max-width: 600px) {
			padding: 90px 0px 20px 15px;
		}

		h1 {
			margin-bottom: 0px;
			&.title {				
				color: #282828;
				font-weight: 700;
			}

			span {
				color: #6E6E6E;
			}
		}
	}

	.wrap__winners {
		height: 1%;
		overflow: hidden;
		margin-bottom: 50px;

		.items {
			height: 1%;
			overflow: hidden;
		}

		.winner__item {
			float: left;
			padding: 3px;
			width: 50%;
			@media(max-width: 992px) {
				width: 100%;
			}

			img {
				display: block;
				line-height: 0;
			}
		}

		.wrap__download {
			margin-top: 20px;
			clear: both;

			a {
				background: #BF1435;
				vertical-align: top;
				display: inline-block;
				line-height: 51px;
				position: relative;
				color: #fff;
				transition: all 250ms;
				width: 260px;
				padding: 0px 20px;

				span {
					background: url('../img/html/download-icon.svg') no-repeat center center #DE1F44;
					position: absolute;
					top: 0px;
					right: 0px;
					height: 51px;
					transition: all 250ms;
					width: 51px;
				}

				&:hover {
					background: #DE1F44;

					span {
						background: url('../img/html/download-icon.svg') no-repeat center center #BF1435;
					}
				}
			}
		}
	}
}

.title {
	font-size: 28px;
	color: #555555;
	padding-bottom: 15px;
	margin-bottom: 30px;
	position: relative;

	&:after {
		background: #DE1F44;
		bottom: 0px;
		content: '';
		height: 3px;
		left: 0px;
		position: absolute;
		width: 20px;
	}
}

.wrap__download {
	margin-top: 20px;
	text-align: center;
	clear: both;

	a {
		background: #BF1435;
		vertical-align: top;
		display: inline-block;
		line-height: 51px;
		position: relative;
		color: #fff;
		transition: all 250ms;
		min-width: 260px;
		padding: 0px 80px 0px 20px;
		margin-right: 20px;
		@media(max-width: 992px) {
			margin-right: 0px;
			font-size: 12px;
			margin-bottom: 10px;
			width: 100%;
		}

		span {
			background: url('../img/html/download-icon.svg') no-repeat center center #DE1F44;
			position: absolute;
			top: 0px;
			right: 0px;
			height: 51px;
			transition: all 250ms;
			width: 51px;
		}

		&:nth-of-type(2) {
			margin-right: 0px;
		}

		&:hover {
			background: #DE1F44;

			span {
				background: url('../img/html/download-icon.svg') no-repeat center center #BF1435;
			}
		}
	}
}

.paginator {
	padding: 20px 10px;
	width: 100%;

	ul {
		text-align: center;

		li {
			display: inline-block;

			a {
				display: block;
				height: 30px; 
				color: #656565;
				font-size: 16px;
				width: 30px;
				text-align: center;
				line-height: 30px;
				transition: all 250ms;

				&:hover {
					color: #fff;
					background: #DB3346;				
				}
			}


			&.active {
				a {
					color: #fff;
					background: #DB3346;
				}
			}
		}
	}
}

.share__post--lightbox {
	margin-top: 20px;
	display: block;
	height: 26px;
	overflow: hidden;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 9999;

	p {
		background: #F5F5F5;
		color: #656565;
		line-height: 25px;
		font-size: 13px;
		padding: 0px 15px;
		float: left;
	}

	a {
		display: block;
		float: left;
		height: 25px;
		width: 25px;
		text-align: center;
		line-height: 25px;
		transition: all 250ms;
		color: #fff;

		&.fb {
			background: #DB3346;

			&:hover {
				background: #DB3346 - 50;								
			}
		}

		&.tw {
			background: #BF1435;

			&:hover {
				background: #BF1435 - 50;								
			}
		}						
	}
}






