/*
Theme Name: mags
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: mags
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

mags is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 0px !important;
}

p {
	margin: 0 0 0px !important;
}

footer .inner {
	padding: 16px 0px !important;
}

ol, ul {
	margin-bottom: 0px !important;
}


.wrap__news__inner .wrap__image img {
	height: auto;
	margin-bottom: 20px;
	width: 100%;
}

.wrap__news__inner {
	padding-bottom: 50px;
	border-left: 1px solid #E5E5E5;
}

.wrap__news__inner .contenido {
	padding: 0px 30px;
}

.wrap__news__inner .contenido  h1 {
	color: #DB3346;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;	
}

.wrap__news__inner .contenido p {
	line-height: 28px;
}

.wrap__news__inner .contenido ul {
    list-style: initial;
    margin: initial;
    padding: 15px 0 15px 40px;
}

.wrap__news__inner .contenido li {
    display: list-item;
}

.aside .wrap__aside-fix nav ul li a:hover {
	background: #BF1435 !important;
	color: #fff;	
}

.skip-link.screen-reader-text {
	display: none !important;
}

header .top .socials {
	margin: 15px 0px;	
}

.aside .wrap__aside-fix nav ul li a:hover {
    background: #fff !important;
    color: #BF1435 !important;
    border-right: 5px solid #f14667 !important;
}

.menu_li{
	background: #fff !important;
    color: #BF1435 !important;
    border-right: 5px solid #f14667 !important;
}
.menu_li_sub{
	background: #F1F1F1 !important;
    color: #BF1435 !important;
    border-right: 5px solid #f14667 !important;
}

#menu_li_subm:hover{
	background: #F1F1F1 !important;
    color: #BF1435 !important;
    border-right: 5px solid #f14667 !important;
}

.aside .wrap__aside-fix nav ul li a:focus, .aside .wrap__aside-fix nav ul li  a:hover {
    color: #BF1435 !important;
    text-decoration: none;
}

a:hover, a:focus {
	color: #fff !important;
	text-decoration: none !important;
}

.email_contact:hover {
	color: #DB3346 !important;
}
.wdform-label{
	display: none;
}
.warning{
	display: none;
}
.wdform_footer{
	display: none;
}
.wdform_row.ui-sortable-handle {
    display: inline-block;
  
}

.form10 
.wdform_section {
	padding: 0px !important;
}

.input_deactive{
	font-family: 'roboto';
	font-size: 12px;
}

.form10 
.wdform-field {
	padding: 0px !important;
}

.form10 
.wdform_page {
	padding-top: 0px !important;
}

.wdform_row.ui-sortable-handle:nth-of-type(6) {
	text-align: right;
	padding-right: 49px;
	width: 100%;
}

.wdform_row.ui-sortable-handle:nth-of-type(6) .wdform-field {
	display: inline-block;
}

.container {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

@media(max-width: 800px) {
	.copyright p {
		text-align: center;
		width: 100%;
	}	

	.copyright a {
		padding-right: 20px;
	}

	.wrap__content .wrap__news .item__news {
		padding-bottom: 20px;
	}

	.wrap__content .wrap__news .item__news.news__jurado .news__info {
		overflow-y: hidden;
	}

	header .top {
		padding-top: 10px;
	}

	.wrap__player {
		width: 100%;
	}

	.wrap__player .player {
		width: 100%;
	}

}

.player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.player iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}	

.wrap__content .wrap__copy .copy__inner p a:hover {
	color: #656363 !important;
}

.wrap__content .wrap__news .item__news.news__jurado .news__info p {
	height: auto !important;
}


.wrap__content .wrap__news .item__news.news__jurado .news__info p {
	display: none !important;
}

.wrap__content .wrap__news .item__news.news__jurado .news__info p:nth-of-type(1) {
	display: block !important;
	display: -webkit-box !important;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;	
}

.wrap__content .wrap__news .item__news.news__jurado.open_description .news__info p {
	display: block !important;
}